body {
    background: rgb(23, 55, 82);
}

#changeBackgroundColor {
   height: 200px;
   width: 200px;
   border-radius: 5px;
   border-color: rgb(230, 255, 247);
   border-style: solid;
   background-color: rgb(83, 83, 83);
position: inherit;
margin: 0px;
padding: 0px;
}
